h1 {
  background-color: #b1001d;
  color: #ffffff;
  font-family: "Baloo Chettan", sans-serif;
  margin: 0;
  padding: .5em 0;
}

header {
  text-align: center;
}


.card-container {
  display: grid;
  grid-gap: 1em;
  max-height: 90vh;
  padding: 0 1em;
}

.end-screen {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  text-align: center;
}

.game-card {
  min-height: 0;
  min-width: 0;
  max-width: 30vh;
  overflow: hidden;
  padding: 0;
  transition: transform .2s;
}

.game-card:focus {
  outline: .15em dotted black;
}

.game-card:hover {
  transform: scale(1.1);
}

.game-card-image {
  display: block;
}

.game-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 2em;
}

.indicator {
  margin-right: 1em;
}

.indicator:last-child {
  margin-right: 0;
}

.indicator-panel {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.indicator-value {
  font-weight: bold;
}

.instructions {
  background-color: #ffe8b7;
  padding: 2em;
}

.retry {
  background-color: #b1001d;
  border-radius: .3em;
  border: none;
  color: #ffffff;
  font-size: 1em;
  font-weight: 400;
  padding: .375em .75em;
  line-height: 1.5;
}

.end-screen-indicator {
  margin-right: 0;
  padding-bottom: 1em;
}


@media (orientation: portrait) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .game-card-image {
    width: 100%;
  }
}

@media (orientation: landscape) {
  .card-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .game-card-image {
    height: 100%;
  }
}